<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RegistrationForm</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="/static/assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/static/assets/css/style.css">


		<link href="/static/assets3/img/favicon.png" rel="icon">
  <link href="/static/assets3/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets3/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets3/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets3/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets3/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets3/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets3/css/style.css" rel="stylesheet">

	</head>

	<body>



	<header id="header" class="fixed-top d-flex align-items-center" style="border-bottom:solid;color:white;">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="index.html">TODOZ</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="static/assets3/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>



      <nav id="navbar" class="navbar" style="background-color:black;items-align:center;">
        <ul>
          <li><a class="nav-link scrollto " style="color:white;" href="{% url 'index'%}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'services' %}" style="color:white;" >Services</a></li>
          <li><a class="nav-link scrollto" style="color:white;" href="{% url 'login' %}">Login</a></li>
           <li><a class="nav-link scrollto active" style="color:white;" href="{% url 'register' %}">Register</a></li>
          <li><a class="nav-link scrollto" href="{% url 'contactus' %}" style="color:white;" >Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->




		<div class="wrapper" style="background-image: url('/static/assets/images/registerbg2.png');">
			<div class="inner">
				<div class="image-holder">
					<img style="margin-top:25%;height:300px;" src="/static/assets/images/registerbg.png" alt="">
				</div>

				<form action="" method="POST">

            {% if messages %}
            {% for message in messages %}
            <h4 style="color:#b22222;display:inline;margin-left:10px;">{{message}}</h4>
            {% endfor %}
            {% endif %}
            <br>
                    {% csrf_token %}

					<h3>Registration Form</h3>

					<div class="form-group">
						<input type="text" placeholder="First Name" style="height:35px;width:150px;" class="form-control" required>
						<input type="text" placeholder="Last Name" style="height:35px;width:150px;" class="form-control" required>
					</div>
					<div class="form-wrapper">
						<input type="text" placeholder="Username" style="height:35px;width:325px;"  name="username"  class="form-control" required >
						<i class="zmdi zmdi-account"></i>
					</div>
					<div class="form-wrapper">
						<input type="text" name="email" style="height:35px;width:325px;" placeholder="Email Address" class="form-control" required >
						<i class="zmdi zmdi-email"></i>
					</div>
					<div class="form-wrapper">
						<select name="" id="" class="form-control" style="height:35px;width:325px;" required>
							<option value="" disabled selected>Gender</option>
							<option value="male">Male</option>
							<option value="femal">Female</option>
							<option value="other">Other</option>
						</select>
						<i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" style="height:35px;width:325px;" name="password" placeholder="Password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<div class="form-wrapper">
						<input type="password" style="height:35px;width:325px;"  name="cpassword" placeholder="Confirm Password" class="form-control" required>
						<i class="zmdi zmdi-lock"></i>
					</div>
					<button style="background-color:#4CAF50;margin-left:80px;">Register
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>

	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>