<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Support</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets4/css/style.css">
    <style>
        button:hover{
        cursor: pointer;
        }
    </style>
</head>
<body style="margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/static/images/todobg.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;">

<nav style="display:flex;height:55px;">
    <div class="wrapper d-flex align-items-stretch" style="margin-top:0px;">
        <nav id="sidebar" class="active">
            <div class="custom-menu" style="margin-top:0px;">
                <button type="button" id="sidebarCollapse" class="btn btn-primary" style="margin-top:0px;"></button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(/static/assets4/images/bg_1.jpg);">
                <div class="user-logo">
                    <div class="img" style="background-image: url(/static/images/profile-user.png);background-color:white;"></div>

                    <h3>{{username}}</h3>

                </div>
            </div>
           <ul class="list-unstyled components mb-5" style="background:blur;" >
    <li class="active" style="background-color:gray; margin-top: 25 px;">
        <a href="{% url 'todo' %}"><span class="fa fa-home mr-3"></span> <span style="color:white;">Home</span></a>
    </li>

         <li style="background-color:gray; margin-top: 25px;">
        <a href="{% url 'completedlist' %}"><span class="fa fa-support mr-3"></span> <span style="color:white;">Completed todos</span></a>
    </li>

    <li style="background-color:gray; margin-top: 25px;">
        <a href="{% url 'changepassword' %}"><span class="fa fa-gift mr-3"></span>  <span style="color:white;">Change password</span></a>
    </li>

    <li style="background-color:gray; margin-top: 25px;">
        <a href="{% url 'support' %}"><span class="fa fa-support mr-3"></span> <span style="color:white;">Support</span> </a>
    </li>

    <li style="background-color:gray; margin-top: 25px;">
        <a href="{% url 'logout' %}"><span class="fa fa-sign-out mr-3"></span>  <span style="color:white;">Sign Out</span></a>
    </li>
</ul>

        </nav>
    </div>

</nav>

<center><div style="height:350px;width:350px;margin-top:9%;border:solid;border-color:white;border-radius:15px;backdrop-filter:blur(8px);">
<form method="POST">
    {% csrf_token %}
<h2 style="color:white;">Support Box</h2>


<input type="text" name="supportbox" placeholder=" How can we help you " style="margin-top:60px;height:85px;border-radius:12px;border:none;width:220px;" required>
    <button style="margin-top:40px;height:30px;width:90px;border-radius:8px;background-color:#4CAF50;color:white;border:none;display:block;">Ask</button>

    </form>
    </div>
    </center>

<script src="/static/assets4/js/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>